{% macro menu_entry(page_entry) %}
{% set current = get_section(path=page_entry) %}
<li {% if current_path == current.path %}class="active"{% endif %}>
    <a href="{{ current.permalink }}">{{ current.title }}</a>
    <ul>
        {% for s in current.subsections %}
            {{ self::menu_entry(page_entry=s) }}
        {% endfor %}
        {% for page in current.pages %}
        {% set in_curr = true %}
        {% for s in current.subsections %}
            {% if page.path is ending_with("/") %}
                {% break %}
            {% endif %}
            {% if page.path is starting_with(s) %}
                {% set in_curr = false %}
                {% break %}
            {% endif %}
        {% endfor %}
        {% if in_curr %}
        <li {% if current_path == page.path %}class="active"{% endif %}>
            <a href="{{ page.permalink }}">{{ page.title }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</li>
{% endmacro menu_entry %}